In [64]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('blockchain.db')
data = pd.read_sql('select * from transactions', conn)

# Function to shows totaltransactions value

In [62]:
def show_total_transactions_value(some_data):
    return 'total transactions values is:' ' ' + str( some_data['value'].sum()) + ' ' + 'ETH'

show_total_transactions_value(data)

'total transactions values is: 2 ETH'